header {
    position:fixed;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 20px lightgray;
    // border: 1px solid blue;
}

a {
    margin: 0 20px;
    color: #999;
    text-decoration: none;
    &:hover {
        color: #333;
    }
}

.active {
    color: goldenrod;
}