<div id="rules-container">
    <h2>Rules</h2>

    <h3>Objective</h3>

    <p>You have to find a secret code.</p>
    <p>Outsmart the app with great guesswork.</p>
    <p>You must break the secret code in the fewest number of guesses.</p>

    <h3>Game Play</h3>
    <p>On seven colors available, the app selects four of them to constitute a secret code.</p>
    <p>You have to try to duplicate the exact colors and positions of the hidden Code pegs.</p>
    <p>Each guess is made by placing a row of Code pegs on the unit.</p>
    <p>After every guess, the app informs you of your progress using the color indicators.</p>
    <ul>
        <li><span id="red-indicator">Red Indicator</span> means that "There's no such color in the secret code."</li>
        <li><span id="yellow-indicator">Yellow Indicator</span> means that "The color is present in the code, but you placed it at a wrong position."</li>
    </ul>

    <h3>End of the Game</h3>
    <p>If you do not crack the code in ten attempts, that game is over.</p>
</div>