// #palette-container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     width: 80px;
//     border-top-left-radius: 20px;
//     border-end-end-radius: 20px;
//     background-color: white;
// }

.color-item {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 10px;
    transition: 250ms;
    &:hover {
        width: 60px;
        height: 60px;
    }
}

#red {
    background-color: rgb(187, 36, 36);
}

#green {
    background-color: rgb(21, 109, 21);
}

#blue {
    background-color: rgb(29, 29, 204);
}

#yellow {
    background-color: rgb(211, 211, 39);
}

#purple {
    background-color: rgb(173, 42, 173);
}

#brown {
    background-color: rgb(119, 30, 30);
}

#orange {
    background-color: rgb(240, 159, 10);
}