<!-- <div id="palette-container"> -->
    <div class="color-item" id="red"></div>
    <div class="color-item" id="green"></div>
    <div class="color-item" id="blue"></div>
    <div class="color-item" id="yellow"></div>
    <div class="color-item" id="purple"></div>
    <div class="color-item" id="brown"></div>
    <div class="color-item" id="orange"></div>
    <div class="color-item" id="validate"><img src="../../assets/img/validate-arrow.png" alt="Arrow to validate Mastermind combination"></div>
<!-- </div> -->
