<!-- <div id="palette-container"> -->
    <div class="color-item"
        *ngFor="let color of colors; let i = index;"
        [ngStyle]="{ 'backgroundColor': color }" 
        (click)="getUserChoice(color)" 
        (click)="saveUserChoice(color)">
    </div>

    <div class="color-item" id="validate" (click)="onValidate()">
        <img src="./assets/img/validate-arrow.png" alt="Arrow to validate Mastermind combination">
    </div>

    <div class="color-item" id="reset" (click)="onReset()">
        <img src="./assets/img/reset-arrow.png" alt="Arrow to reset Mastermind suggestion">
    </div>

<!-- </div> -->