<div id="landing-block">
    <!-- <img src="assets/img/landing-page-logo.png" alt="Landing page colored picture"> -->
    <div id="balls-container">
        <span class="ball-item" id="red-ball"></span>
        <span class="ball-item" id="green-ball"></span>
        <span class="ball-item" id="golden-ball"></span>
        <span class="ball-item" id="blue-ball"></span>
    </div>
    <div id="landing-links">
        <a routerLink="/play"><button id="btn-play">Play the gameee</button></a><br>
        <a routerLink="/rules"><button id="btn-rules">Check the rules</button></a>
    </div>
</div>