#page-container  {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    // border: 4px solid red;
}

#game-result-container {
    position: absolute;
    width: 500px;
    height: 600px;
    top: 0;
    right: 0;
    // border: 3px solid green;
}

#board-game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // border: 3px solid purple;
}

#end-game-message {
    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    width: 275px;
}

#end-game-message > div > button {
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
    padding: 20px 40px;
    border-radius: 30px;
    color: white;
    background-color: black;
    border: 1px solid #FFFFFF;
    &:hover {
        color: black;
        background-color: #FFFFFF;
    }
}

.emoji {
    font-size: larger;
}

.end-game-result {
    font-size: larger;
    font-weight: bolder;
}

.board-unit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 500px;
    height: 60px;
    margin-bottom: 3px;
    padding: 5px 0;
    background-color: white;
    border-top-right-radius: 20px;
    border-end-start-radius: 20px;
    // border: 2px solid chartreuse;
}

.board-unit-number {
    position: absolute;
    left: 5%;
    font-size: 1.5em;
    color: #999;
}

.code-peg-item {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 9px;
}

.row {
    border-radius: 10px;
}

.rows-container {
    display: flex;
    gap: 2px;
}

.red {
    background-color: rgb(187, 36, 36);
}

.green {
    background-color: rgb(21, 109, 21);
}

.blue {
    background-color: rgb(29, 29, 204);
}

.yellow {
    background-color: rgb(211, 211, 39);
}

.purple {
    background-color: rgb(173, 42, 173);
}

.brown {
    background-color: rgb(119, 30, 30);
}

.orange {
    background-color: rgb(240, 159, 10);
}

color-palette {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80px;
    border-top-left-radius: 20px;
    border-end-end-radius: 20px;
    background-color: white;
    // border: 1px solid orange;
}

// secret-code {
//     align-items: center;
//     justify-content: center;
//     flex-direction: row;
//     margin-top: 50px;
//     margin-left: 33.3%;
//     width: 300px;
//     border-top-left-radius: 20px;
//     border-end-end-radius: 20px;
//     background-color: white;
// }