<div id="page-container">
    <div id="board-game-container">
        <ng-container *ngFor="let _ of [].constructor(boardUnitNumber); let i = index">
        <div id="board-unit">
            <span class="board-unit-number">{{ i+1 }}</span>
            <div class="code-peg-item"
            [ngStyle]="{'background-color': emptyUnitPeg}"
            *ngFor="let emptyUnitPeg of emptyUnitPegs" 
            ></div>
        </div>
        </ng-container>
    </div> <!-- End board-game-container -->

    <color-palette
    (user-choice)="applyUserChoice($event)"></color-palette>
    <secret-code></secret-code>
    
</div> <!-- End page-container -->